#gridChatLobby{
	-fx-background-image: url("wood.jpg");
	-fx-background-size: cover;
	-fx-font-family: arial;
}

#gridGameLobby{
	-fx-background-image: url("wood.jpg");
	-fx-background-size: cover;
	-fx-font-family: arial;
}

#gridPrivateChat{
	-fx-background-image: url("wood.jpg");
	-fx-background-size: cover;	
}

#btnObserve{
	-fx-padding: 0px;
	-fx-background-color: transparent;
}

#btnExit{
	-fx-padding: 0px;
	-fx-background-color: transparent;
}

#btnJoin{
	-fx-padding: 0px;
	-fx-background-color: transparent;
}

#btnStart{
	-fx-padding: 0px;
	-fx-background-color: transparent;
}

#btnHost{
	-fx-padding: 0px;
	-fx-background-color: transparent;
}

.tab {
	 -fx-font-size:17,5px;
	 -fx-text-fill: black;
}

.tab-label{
	-fx-text-fill: #856542;
	-fx-font-family: arial;
}

#chat{
	-fx-background-image: url("chat.png");
	-fx-background-size: cover;
	-fx-text-fill: white;
}

#chatArea{
	-fx-background-image: url("PrivateChat.png");
	-fx-background-size: cover;
	-fx-text-fill: white;
}

#insertLine{
	-fx-background-image: url("PrivateChat.png");
	-fx-background-size: cover;
	-fx-text-fill: white;	
}

#insertLinePrivateChat{
	-fx-background-image: url("PrivateChat.png");
	-fx-background-size: cover;
	-fx-text-fill: white;	
}

.label {
    -fx-font-size: 17,5px;
    -fx-text-fill: black;
}