.root {
     -fx-background-image: url("wood2.png");
	 -fx-background-size:cover;
	 -fx-font-family: arial;
}

.label {
    -fx-font-size: 17,5px;
    -fx-text-fill: white;

}

.button {
	-fx-padding: 0px;
	-fx-background-color: transparent;
}

#lblFail{
    -fx-font-size: 17,5px;
	-fx-font-weight: bold;
	-fx-font-family: arial;
    -fx-text-fill: #be1d00;	
}

#gameName{
	-fx-background-image: url("chat.png");
	-fx-background-size: cover;
	-fx-text-fill: black;	
}

#turnTime{
	-fx-background-image: url("chat.png");
	-fx-background-size: cover;
	-fx-text-fill: black;
}