.root {
     -fx-background-image: url("wood2.png");
	 -fx-background-size:cover;
	 -fx-font-family: arial;
}

.label {
    -fx-font-size: 17,5px;
	-fx-text-fill: white;
}

.button {
	-fx-padding: 0px;
	-fx-background-color: transparent;
}

#lblColorTaken{
    -fx-font-size: 17,5px;
    -fx-text-fill: #be1d00;	
}