.scroll-pane, .text-area, .text-field{
	-fx-background-color: transparent;
}

#remaining {
    -fx-text-fill: white;
    -fx-font-size: 80;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.button {
	-fx-padding: 0px;
	-fx-background-color: transparent;
}

#last-move {
    -fx-background-image: url("last_move.png");
    -fx-background-size: stretch;
}

#last-move:pressed {
    -fx-background-image: url("last_move_down.png");
}

#next-move {
    -fx-background-image: url("next_move.png");
    -fx-background-size: stretch;
}

#next-move:pressed {
    -fx-background-image: url("next_move_down.png");
}

#zoom-in {
    -fx-background-image: url("zoomIn.png");
    -fx-background-size: stretch;
}

#zoom-in:pressed {
    -fx-background-image: url("zoomIn_down.png");
}

#zoom-out {
    -fx-background-image: url("zoomOut.png");
    -fx-background-size: stretch;
}

#zoom-out:pressed {
    -fx-background-image: url("zoomOut_down.png");
}
