.root{
	-fx-background-image: url("tischplatte.jpg");
}
.button {
	-fx-background-color: linear-gradient(#ff5400, #be1d00);
	-fx-background-radius: 30;
	-fx-background-insets: 0;
	-fx-text-fill: white;
	-fx-font-size: 17,5px;
	-fx-font-weight: bold;
	-fx-font-family: serif;
	-fx-text-fill: #3D2314;	
}

#btnRotate{
	-fx-background-color: transparent;
}

#gameBoard{
	-fx-background-color: transparent;
}

#chatWindow{
	-fx-background-color: rgba(240, 255, 240, 0.5);
}